<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY CRUD APP</title>

    <style type="text/css" media="screen">

    </style>

</head>
<body>
<h1>Node + MongoDB + ExpressJS</h1>

<script type="text/javascript">

</script>
</body>
</html>