<div class="animals">
    <h2>Animal list</h2>
    <ul>
        {{#each animals}}
            <li class="animal" dataId="{{ _id }}">
                <span class="delete" data-extra="{{ _id }}">[X]</span>
                <span class="edit" data-extra="{{ _id }}"><div>&#9998;</div></span>
                <span class="family" style="text-align:right;">{{ family }}</span><span> / </span>
                <span class="name">{{ name }}</span><span> : </span>
                <span class="description">{{ description }}</span>
            </li>
        {{/each}}
    </ul>
</div>
