<div class="inputForm">
    <form action="/api/animals" method="POST">
        <h2>Insert new Animal</h2>
        <ul style="list-style-type: none;">
            <li><input type="text" placeholder="family" name="family"></li>
            <li><input type="text" placeholder="name" name="name"></li>
            <li><input type="text" placeholder="description" name="description"></li>
            <li>
                <button data-id="clear" class="leftButton" type="button">Clear</button>
                <button data-id="submit" class="rightButton" type="button">Submit</button>
            </li>
        </ul>
    </form>
</div>
<!-- onclick="ui.insert(this.parentNode.parentNode);" -->
