body {
    background-color: slategray;
}

.family {
    min-width: 60px;
    display: inline-block;
}

.name {
    min-width: 250px;
    display: inline-block;
}

.animals {
    background-color: #94aabc;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-family: monospace;
    font-size: 14px;
}

.animals li:not(:last-child) {
    margin-bottom: 8px;
}

.animals ul {
    list-style-type: decimal;
}

.inputForm {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-family: monospace;
}

.inputForm input {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: bisque;
    padding-left: 4px;
    min-width: 250px;
    font-size: 16px;

}

.inputForm input:focus {
    border-color: burlywood;
    outline: none;
}

.inputForm li:not(:last-child) {
    margin-bottom: 4px;
}

.delete {
    min-width: 16px;
    max-width: 16px;
    width: 16px;
    height: 16px;
    min-height: 16px;
    max-height: 16px;
    background-color: lightcoral;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid darkred;
}

.edit {
    display: inline-block;
    min-height: 16px;
    max-height: 16px;
    max-width: 16px;
    min-width:16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #006600;
    padding: 2px;
    border: 1px solid #004444;
    position: relative;
}
.edit div {
    position: relative;
    transform: rotateZ(90deg) translateX(16%);
}
.inputForm ul {
    max-width: 254px;
}
.inputForm button {
    margin-top: 4px;
    font-family: monospace;
}
.inputForm button.rightButton {
    float: right;

}
